{% extends "base.html" %}
{% load static %}


{% block title %}
    Actividades
{% endblock %}


{% block content %}  

<div id="cuerpo">

    <div id="tituloPaginaActividades" class="row">
        <h5 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Actividades de la asociación</h5>
    </div>

    {% for actividad in actividades_paginadas %}
        <div id="cadaActividadEnActividades" class="row">
            <a id="enlaceActividades" href="{% url 'actividad' titulo=actividad.titulo %}" >
                <p id="mostrandoTituloActividad" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ actividad.titulo }}</p>
            </a>
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ actividad.descripcion|slice:"0:75" }}...</p>
        </div>
    {% endfor %}

    <div id="paginacion" class="row">
 
        <p id="enlacesPaginacion" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% if tipoInicio %}
                {% for pagina in rango_inicio %}
                    {% if paginaActual == None and pagina == 1 %}
                        <a id="enlacePaginaActualPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% elif paginaActual == pagina %}
                        <a id="enlacePaginaActualPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% else %}
                        <a id="enlacePaginaPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% endif %}
                {% endfor %}
                ...<a id="enlacePaginaPaginacionActividades" href="?page={{ actividades_paginadas.paginator.num_pages }}">{{ actividades_paginadas.paginator.num_pages }}</a>
        
            {% elif tipoMedio %}
                <a id="enlacePaginaPaginacionActividades" href="?page=1">1</a>...
                {% for pagina in rango_medio %}
                    {% if paginaActual == pagina %}
                        <a id="enlacePaginaActualPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% else %}
                        <a id="enlacePaginaPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% endif %}
                {% endfor %}
                ...<a id="enlacePaginaPaginacionActividades" href="?page={{ actividades_paginadas.paginator.num_pages }}">{{ actividades_paginadas.paginator.num_pages }}</a>

            {% elif tipoFin %}
                <a id="enlacePaginaPaginacionActividades" href="?page=1">1</a>...
                <a id="enlacePaginaPaginacionActividades" href="?page={{pagina_media}}">{{pagina_media}}</a>...
                {% for pagina in rango_fin %}
                    {% if paginaActual == pagina %}
                        <a id="enlacePaginaActualPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% else %}
                        <a id="enlacePaginaPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% endif %}
                {% endfor %}

            {% else %}
                {% for pagina in paginas %}
                    {% if paginaActual == None and pagina == 1 %}
                        <a id="enlacePaginaActualPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% elif paginaActual == pagina %}
                        <a id="enlacePaginaActualPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% else %}
                        <a id="enlacePaginaPaginacionActividades" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        
        </p>
    </div>

</div>

{% endblock %}
