{% extends "base.html" %}
{% load mathfilters %}


{% block title %}
    Actividades
{% endblock %}


{% block content %}  

<div id="cuerpo">

    <h5>Actividades de la asociación </h5><br>

    {% for actividad in actividades %}
        <a id="enlaceActividades" href="{% url 'actividad' titulo=actividad.titulo %}" ><strong><p id="mostrandoTituloActividad">{{ actividad.titulo }}</p></strong></a>
        <p>{{ actividad.descripcion|slice:"0:75" }}...</p>
        <br>
    {% endfor %}

</div>

{% endblock %}
