{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ acuerdo.nombre }}
{% endblock %}


{% block content %}

<div id="cuerpo">

    
    <div id="tituloAcuerdoEmpresa" class="row">
        <h4 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Acuerdo {{ acuerdo.nombre }}</h4>
    </div>


    {% for linea in lineas %}
        <div class="row">
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ linea }}</p>
        </div>
    {% endfor %}


    {% if acuerdo.fichero %}
        <div id="adjuntosAcuerdoEmpresa" class="row">
            <strong><p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Adjuntos: </p></strong>
            <a class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" href="{{MEDIA_URL}}{{acuerdo.fichero}}" type="application/pdf" target="_blank" id="enlaceAColor">
                <p>Fichero adjunto</p>
            </a>
        </div>
    {% endif %}


</div>

{% endblock %} 