{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ acuerdo.nombre }}
{% endblock %}


{% block content %}

<div id="cuerpo">

    
    <div id="tituloAcuerdoEmpresa" class="row">
        <h4 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Acuerdo {{ acuerdo.nombre }}</h4>
    </div>

    <div class="row" id="textoAcuerdoEmpresa">
        {% for linea in lineas %}
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ linea }}</p>
        {% endfor %}
    </div>

    {% if acuerdo.fichero %}
        <div id="adjuntosAcuerdoEmpresa" class="row">
            <strong><p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Adjuntos: </p></strong>
            <a class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" href="{{MEDIA_URL}}{{acuerdo.fichero}}" type="application/pdf" target="_blank" id="enlaceAColor">
                <p>Fichero adjunto</p>
            </a>
        </div>
    {% endif %}

    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="compartirRedesSociales">
        <p>Compartir en redes sociales:</p>
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_whatsapp"></a>
        <a class="a2a_button_telegram"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>

</div>

{% endblock %} 