{% extends "base.html" %}
{% load static %}


{% block title %}
    La asociación
{% endblock %}


{% block content %}  

<div id="cuerpo">

    <div id="tituloPaginaAsociacion" class="row">
        <h5 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">La asociación</h5>
    </div>

    <div id="contenedorEnlaceJuntaRectora" class="row">
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            Composición actual de la <a href="{% url 'juntaRectora' %}" id="enlaceAColor">Junta Rectora</a>
        </p>
    </div>
    

</div>

{% endblock %}
