{% load static %}


<!DOCTYPE html>

<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/antalumnos_icono.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/antiguos_alumnos.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <title>
        {% block title%}
        {% endblock %}
    </title>
</head>

<body>

    <div id="cabecera">


        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="logoYParrafoCabecera">
                <img id="logoCabecera" src="{% static 'images/antalumnos_icono.ico' %}">
                <h5 id="parrafoNombre">Asociación de antiguos alumnos de la Escuela Superior de Ingenieros de Sevilla</h5>
            </div>
        </div>

        {% if esAdministrador %}
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- <img id="logoBarraNavegacion" src="{% static 'images/antalumnos_icono.ico' %}"> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if 'asociacion' in request.path or 'historia' in request.path or 'juntaRectora' in request.path or 'acuerdosEmpresas' in request.path %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                La Asociación
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'asociacion' %}">La asociación</a>
                                <a class="dropdown-item" href="{% url 'historia' %}">Historia</a>
                                <a class="dropdown-item" href="{% url 'juntaRectora' %}">Junta Rectora</a>
                                <a class="dropdown-item" href="{% url 'acuerdosEmpresas' %}">Acuerdos con empresas</a>
                            </div>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/actividades' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'actividades' %}">Actividades</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/noticias' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'noticias' %}">Noticias</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/empleo' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'empleo' %}">Empleo</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/revistaIngenio' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'revistaIngenio' %}">Revista Ingenio</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/multimedia' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'multimedia' %}">Multimedia</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/admin/' %}active{% endif %}">
                            <!-- <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Administración</a> -->
                            <a class="nav-link" href="http://127.0.0.1:8000/admin/" target="_blank">Administración</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item dropdown {% if 'formulario' in request.path %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Formularios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'formularioAltaActividad' %}">Formulario alta actividad</a>
                                <a class="dropdown-item" href="{% url 'formularioAltaAcuerdoEmpresa' %}">Formulario alta acuerdo con empresa</a>
                                <a class="dropdown-item" href="{% url 'formularioAltaDatosDeContacto' %}">Formulario alta datos de contacto</a>
                                <a class="dropdown-item" href="{% url 'formularioAltaNoticia' %}">Formulario alta de noticia</a>
                                <a class="dropdown-item" href="{% url 'formularioAltaOfertaEmpleo' %}">Formulario alta oferta de empleo</a>
                                <a class="dropdown-item" href="{% url 'formularioAltaRevistaIngenio' %}">Formulario alta revista ingenio</a>
                                <a class="dropdown-item" href="{% url 'formularioAltaUsuario' %}">Formulario alta usuario</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'busqueda' %}">{% csrf_token %}
                        <input id="buscar" name="buscar" class="form-control mr-sm-2" type="text" placeholder="Buscar">
                        <input id="iconoLupa" type="image" name="submit" src="{% static 'images/icono_lupa.svg' %}" alt="Buscar" />
                    </form>
                </div>
            </nav>
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if 'asociacion' in request.path or 'historia' in request.path or 'juntaRectora' in request.path or 'acuerdosEmpresas' in request.path %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                La Asociación
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'asociacion' %}">La asociación</a>
                                <a class="dropdown-item" href="{% url 'historia' %}">Historia</a>
                                <a class="dropdown-item" href="{% url 'juntaRectora' %}">Junta Rectora</a>
                                <a class="dropdown-item" href="{% url 'acuerdosEmpresas' %}">Acuerdos con empresas</a>
                            </div>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/actividades' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'actividades' %}">Actividades</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/noticias' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'noticias' %}">Noticias</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/empleo' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'empleo' %}">Empleo</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/revistaIngenio' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'revistaIngenio' %}">Revista Ingenio</a>
                        </li>
                        <li id="enlaceBarraNavegacion" class="nav-item {% if request.path == '/antalumnos/multimedia' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'multimedia' %}">Multimedia</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'busqueda' %}">{% csrf_token %}
                        <input id="buscar" name="buscar" class="form-control mr-sm-2" type="search" placeholder="Buscar">
                        <input id="iconoLupa" type="image" name="botonBuscar" src="{% static 'images/icono_lupa.svg' %}" alt="Buscar" />
                    </form>
                </div>
            </nav>
        {% endif %}
    
        <div class="row" id="enlacesPerfil">
            {% if inicioSesion %}
                <p class="col-3 col-sm-10 col-md-10 col-lg-10 col-xl-10"></p>
                <div class="col-9 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="{% static 'images/icono_perfil.svg' %}" id="iconoPerfil">
                    <p id="parrafoPerfil"><a href="{% url 'perfil' %}" id="enlacePerfil">Perfil</a></p>
                    
                    <img src="{% static 'images/icono_logout.svg' %}" id="iconoLogout">
                    <p id="parrafoLogout"><a href="{% url 'logout' %}" id="enlaceLogout">Cerrar sesión</a></p>
                </div>
            {% else %}
                <p class="col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10"></p>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="{% static 'images/icono_login.svg' %}" id="iconoLogin">
                    <p id="parrafoLogin"><a href="{% url 'login' %}" id="enlaceLogin">Iniciar sesión</a></p>
                </div>
            {% endif %}
            <!-- <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="parrafoPerfil"><img src="{% static 'images/icono_perfil.svg' %}" id="iconoPerfil"> Perfil</p> -->
        </div>


    </div>


    {% block content %}
    {% endblock %}


    <footer id="pie">
        <div class="row">
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Escuela Superior de Ingenieros de Sevilla</p>

            <p id="parrafoRedesSociales" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Síguenos en nuestras redes sociales</p>
            <p id="parrafoEnlacesRedesSociales" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a id="enlaceFacebook" href="https://www.facebook.com/Asociaci%C3%B3n-Antiguos-Alumnos-ETSI-Sevilla-206382392878431" target="_blank">
                    <img src="{% static 'images/icono_facebook.svg' %}" id="iconoFacebook">
                </a>
                <a id="enlaceTwitter" href="https://twitter.com/AAAETSI" target="_blank">
                    <img src="{% static 'images/icono_twitter.svg' %}" id="iconoTwitter">
                </a>
                <a id="enlaceInstagram" href="https://www.instagram.com/aaa.etsi/" target="_blank">
                    <img src="{% static 'images/icono_instagram.svg' %}" id="iconoInstagram">
                </a>
            </p>

            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a id="enlaceAColor" href="https://www.google.es/maps/place/Escuela+Superior+de+Ingenieros,+41092+Sevilla/@37.4113198,-6.0026757,17z/data=!3m1!4b1!4m5!3m4!1s0xd126bf26cfb6745:0x48540ef865fb244e!8m2!3d37.4113198!4d-6.000487" target="_blank">
                    Camino de los descubrimientos s/n. Isla De La Cartuja. 41092 Sevilla
                </a>
            </p>
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Teléfono 954 486 121</p>
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">E-mail: aaa-etsi@us.es</p>    
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>