{% extends "base.html" %}


{% block title %}
    Empleo
{% endblock %}


{% block content %}  

<div id="cuerpo">

    <h5>Esta es la página de empleo.</h5><br>

    {% for ofertaEmpleo in ofertasEmpleo %}
        <a id="enlaceOfertasEmpleo" href="{% url 'ofertaEmpleo' titulo=ofertaEmpleo.titulo %}"><p id="mostrandoTituloOfertaEmpleo">{{ ofertaEmpleo.titulo }}</p></a>
        <p>{{ ofertaEmpleo.texto|slice:"0:75" }}...</p>
        <br>
    {% endfor %}

</div>

{% endblock %}
