{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}


{% block content %}

<div id="cuerpo">


    <div class="row">
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Ha iniciado sesión correctamente como {{usuario}}</p>
    </div>


    <div class="row">
        {% if esAdministrador %}
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Eres administrador</p>
        {% else %}
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">No eres administrador</p>
        {% endif %}
    </div>


</div>

{% endblock %}