{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}

<div id="cuerpo">

    <h1>Alta de actividad:</h1>

    <form id="formularioAltaActividad" method="POST" action="."> {% csrf_token %}

        {% if errores %}
            {% for error in errores %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% for campo in formActividad %}

            {% if campo.id_for_label == 'id_descripcion' %}
                <label for="formularioAltaActividad">{{ campo.label }}: </label><br>
                {{ campo }}
                <br>
            {% else %}
                <label for="formularioAltaActividad">{{ campo.label }}: </label>
                {{ campo }}
                <br>
            {% endif %}
        
        {% endfor %}

        <button type="submit">Enviar</button>

    </form>

</div>

{% endblock %}