{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}

    <h1>Alta de noticia:</h1>

    <form id="formularioAltaNoticia" method="POST">

        <label for="titulo">Título: </label>
        <input type="text">

        <br>

        <label for="texto">Texto: </label><br>
        <textarea form="formularioAltaNoticia" cols="20" rows="5"></textarea>

        <br>

        <label for="fecha">Fecha de la actividad: </label>
        <input type="datetime">

        <br>

        <label for="texto">Enlace: </label>
        <input type="text">


    </form>

{% endblock %}