{% extends "base.html" %}
{% load static %}


{% block title %}
    Alta actividad
{% endblock %}

{% block content %}

<div id="cuerpo">

    <div id="tituloPaginaFormularioAltaActividad" class="row">
        <h5 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Alta de actividad</h5>
    </div>

    {% if esAdministrador %}
        {% if errores %}
            {% for error in errores %}
                <div class="row">
                    <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="parrafoErroresFormulario">{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <form id="formularioAltaActividad" method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}
            {% for campo in formActividad %}
                {% if campo.id_for_label == 'id_titulo' or campo.id_for_label == 'id_descripcion' or campo.id_for_label == 'id_numeroPlazas' or campo.id_for_label == 'id_estadoActividad' or campo.id_for_label == 'id_tipoActividad' %}
                    <div id="campoDelFormularioAltaActividad" class="row">
                        <label for="formularioAltaActividad" id="etiquetaFormularioAltaActividad" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            {{ campo.label }} <span id="asteriscoCampoOblogatorioFormulario">*</span>
                        </label>
                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ campo }}</p>
                    </div>
                {% elif campo.id_for_label == 'id_fecha' or campo.id_for_label == 'id_fechaSolicitudesInicio' or campo.id_for_label == 'id_fechaSolicitudesFin' %}
                    <div id="campoDelFormularioAltaActividad" class="row">
                        <label for="formularioAltaActividad" id="etiquetaFormularioAltaActividad" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            {{ campo.label }} <span id="asteriscoCampoOblogatorioFormulario">*</span>
                        </label>
                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <input type="date" name="{{campo.name}}" required id="{{campo.id_for_label}}">
                        </p>
                    </div>
                {% elif campo.id_for_label == 'id_hora' %}
                    <div id="campoDelFormularioAltaActividad" class="row">
                        <label for="formularioAltaActividad" id="etiquetaFormularioAltaActividad" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            {{ campo.label }}
                        </label>
                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <input type="time" name="{{campo.name}}" id="{{campo.id_for_label}}">
                        </p>
                    </div>
                {% else %}
                    <div id="campoDelFormularioAltaActividad" class="row">
                        <label for="formularioAltaActividad" id="etiquetaFormularioAltaActividad" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            {{ campo.label }}
                        </label>
                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ campo }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            <div id="parrafoAvisoCamposObligatorios" class="row">
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Los campos con asterisco son obligatorios</p>
            </div>
            <div class="row">
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button id="botonEnviarFormulario" type="submit">Enviar</button>
                </p>
            </div>
        </form>
    {% else %}
        <div class="row">
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                Para ver esta página debe ser administrador.
            </p>
        </div>
        <div id="divParaElPie">
        </div>
    {% endif %}
    
</div>

{% endblock %}