{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}

<div id="cuerpo">


    <div id="tituloPaginaFormularioAltaNoticia" class="row">
        <h4 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Alta de noticia:</h4>
    </div>

    {% if esAdministrador %}
        <form id="formularioAltaNoticia" method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}

            {% if errores %}
                {% for error in errores %}
                    <div class="row">
                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="parrafoErroresFormulario">{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            

            {% for campo in formNoticia %}

                {% if campo.id_for_label == 'id_titulo' or campo.id_for_label == 'id_texto' or campo.id_for_label == 'id_fecha' %}
                    <div id="campoDelFormularioAltaActividad" class="row">
                        <label for="formularioAltaActividad" id="etiquetaFormularioAltaActividad" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ campo.label }} <span id="asteriscoCampoOblogatorioFormulario">*</span> </label>
                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ campo }}</p>
                    </div>
                {% else %}
                    <div id="campoDelFormularioAltaActividad" class="row">
                        <label for="formularioAltaActividad" id="etiquetaFormularioAltaActividad" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ campo.label }}</label>
                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ campo }}</p>
                    </div>
                {% endif %}
            
            {% endfor %}

            <div id="parrafoAvisoCamposObligatorios" class="row">
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Los campos con asterisco son obligatorios</p>
            </div>

            <div class="row">
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><button id="botonEnviarFormulario" type="submit">Enviar</button></p>
            </div>

        </form>
    {% else %}
        <div class="row">
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                Para ver esta página debe ser administrador.
            </p>
        </div>
    {% endif %}

    
</div>

{% endblock %}