{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}

<div id="cuerpo">


    <div id="tituloPaginaFormularioAltaUsuario" class="row">
        <h4 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Alta de usuario</h14>
    </div>

    <form id="formularioAltaUsuario" method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}

        {% if errores %}
            {% for error in errores %}
                <div class="row">
                    <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="parrafoErroresFormulario">{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}
        

        {% for campo in formUsuario %}
            
            <div id="campoDelFormularioAltaUsuario" class="row">
                <label for="formularioAltaUsuario" id="etiquetaFormularioAltaUsuario" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ campo.label }} <span id="asteriscoCampoOblogatorioFormulario">*</span> </label>
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ campo }}</p>
            </div>
        
        {% endfor %}

        <div id="parrafoAvisoCamposObligatorios" class="row">
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Los campos con asterisco son obligatorios</p>
        </div>
        
        <div class="row">
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><button id="botonEnviarFormulario" type="submit">Enviar</button></p>
        </div>
        
    </form>

</div>

{% endblock %}