{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}  

    <h1>Alta de usuario:</h1>
    <form id="formularioAltaUsuario" method="POST">

        <label for="nombre">Nombre: </label> 
        <input type="text">

        <br>

        <label for="apellidos">Apellidos: </label>
        <input type="text">

        <br>

        <label for="email">Email: </label>
        <input type="email">

        <br>

        <label for="telefono">Teléfono: </label>
        <input type="text">
        
        <br>

        <label for="direccionPostal">Dirección postal: </label>
        <input type="text">

        <br>

        <label for="usuario">Usuario: </label>
        <input type="text">

        <br>

        <label for="contrasenya">Contraseña: </label>
        <input type="password">

        <br>

        <label for="confirmContrasenya">Confirmación de la contraseña: </label>
        <input type="password">

        <br>

        <label for="tipo">Tipo: </label>
        <select>
            <option value="Anónimo">Anónimo</option>
            <option value="Asociado">Asociado</option>
            <option value="Gestor">Gestor</option>
            <option value="Administrador">Administrador</option>
        </select>
        
    </form>

{% endblock %}