{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}

<div id="cuerpo">

    <h1>Alta de oferta de empleo:</h1>

    <form id="formularioAltaOfertaEmpleo" method="POST">

        <label for="titulo">Título: </label>
        <input type="text">

        <br>

        <label for="texto">Texto: </label>
        <input type="text">

        <br>

        <label for="contacto">Contacto: </label>
        <input type="text">

        <br>

        <label for="perfil">Perfil: </label>
        <input type="text">

        <br>

        <label for="titulaciones">Titulaciones: </label>

        {% for titulacion in titulaciones %}
            <br><input type="checkbox" value="{{titulacion.nombre}}">
            <label for="{{titulacion.nombre}}">{{titulacion.nombre}}</label>
        {% endfor %}


    </form>

</div>

{% endblock %}