{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}

<div id="cuerpo">

    <h1>Alta de revista ingenio:</h1>

    <form id="formularioAltaRevistaIngenio" method="POST">

        <label>Número: </label>
        <input type="number" min="1">

        <br>

        <label>Imagen: </label>
        <input type="file" accept="image/*">

        <br>

        <label>Fichero: </label>
        <input type="file" accept="application/pdf">

        <br>

        <label>Fecha: </label>
        <input type="date">

        <br>

        <label>Tabla de contenidos: </label><br>
        <textarea form="formularioAltaNoticia" cols="20" rows="5"></textarea>

        <br>

    </form>

</div>

{% endblock %}