{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}

<div id="cuerpo">

    <h1>Alta de oferta de empleo:</h1>

    <form id="formularioAltaOfertaEmpleo" method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}

        {% for campo in formOfertaEmpleo %}

            {% if campo.id_for_label == 'id_texto' %}
                <label for="formularioAltaOfertaEmpleo">{{ campo.label }}: </label><br>
                {{ campo }}
                <br>
            {% else %}
                <label for="formularioAltaOfertaEmpleo">{{ campo.label }}: </label>
                {{ campo }}
                <br>
            {% endif %}

        {% endfor %}

        <br>
        <button type="submit">Enviar</button>


    </form>

</div>

{% endblock %}