{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}

    <h1>Alta de usuario:</h1>
    <form id="formularioAltaUsuario" method="POST">

        <label for="nombre">Nombre: </label> 
        <input type="text">

        <br>

        <label for="apellidos">Apellidos: </label>
        <input type="text">

        <br>

        <label for="dni">Dni: </label>
        <input type="text">

        <br>

        <label for="fechaNacimiento">Fecha de nacimiento: </label>
        <input type="date">

        <br>

        <label for="cuentaBancaria">Cuenta bancaria: </label>
        <input type="text">

        <br>

        <label for="email">Email: </label>
        <input type="email">

        <br>

        <label for="telefono">Teléfono: </label>
        <input type="text">
        
        <br>

        <label for="direccionPostal">Dirección postal: </label>
        <input type="text">

        <br>

        <label for="usuario">Usuario: </label>
        <input type="text">

        <br>

        <label for="contrasenya">Contraseña: </label>
        <input type="password">

        <br>

        <label for="confirmContrasenya">Confirmación de la contraseña: </label>
        <input type="password">

        <br>

        <label for="tipo">Tipo: </label>
        <select>
            <option value="Anónimo">Anónimo</option>
            <option value="Asociado">Asociado</option>
            <option value="Gestor">Gestor</option>
            <option value="Administrador">Administrador</option>
        </select>

        <br>

        <label for="titulacion">Titulación: </label>
        <select>
            {% for titulacion in titulaciones %}
                <option value="{{titulacion.nombre}}">{{titulacion.nombre}}</option>
            {% endfor %}
        </select>

        <br>

        <label for="promocion">Promoción: </label>
        <input type="text">
        
        <br>

        <label for="anyoFinalizacion">Año de finalización: </label>
        <input type="text">
        
        <br>

        <label for="empresa">Empresa: </label>
        <input type="text">
        
        <br>

        <label for="comunicaciones">Desea recibir información: </label>
        <select>
            <option value="True">Si</option>
            <option value="False">No</option>
        </select>
        
        <br>

        <label for="juntaRectora">Puesto en la junta rectora: </label>
        <select>
            {% for puestoJuntaRectora in puestosJuntaRectora %}
                <option value="{{puestoJuntaRectora.puesto}}">{{puestoJuntaRectora.puesto}}</option>
            {% endfor %}
        </select>
        
    </form>

{% endblock %}