{% extends "base.html" %}
{% load static %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}


{% block content %}

<div id="cuerpo">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for n in noticias %}
                {% if forloop.counter0 == 0 %}
                    <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class=""></li>
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for n in noticias %}
                {% if forloop.counter0 == 0 %}
                    <div class="carousel-item active">
                        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                            <rect width="100%" height="100%" fill="#73403E"></rect>
                        </svg>
                        <div class="container">
                            <div class="carousel-caption">
                                <a href="{% url 'noticia' titulo=n.titulo %}" style="color: white; text-decoration: none;"><h5>{{n.titulo}}</h2></a>
                                </div>
                        </div>
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                            <rect width="100%" height="100%" fill="#73403E"></rect>
                        </svg>
                        <div class="container">
                            <div class="carousel-caption">
                                <a href="{% url 'noticia' titulo=n.titulo %}" style="color: white; text-decoration: none;"><h5>{{n.titulo}}</h2></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>

    <div id="columnasActividadesYEmpleo" class="row">
        <p id="tituloColumnaActividades" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Actividades</p>
        <p id="tituloColumnaOfertasEmpleo" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Ofertas de empleo</p>
        {% for elemento in actividades_ofertas %}
            {% if forloop.counter0|divisibleby:2 %}
                <p id="parrafoEnlaceTituloColumnaActividad" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <a id="enlaceActividadInicio" href="{% url 'actividad' titulo=elemento.titulo %}">{{ elemento.titulo }}</a>
                </p>
            {% else %}
                <p id="parrafoEnlaceTituloColumnaOfertaEmpleo" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <a id="enlaceOfertaEmpleoInicio" href="{% url 'ofertaEmpleo' titulo=elemento.titulo %}">{{ elemento.titulo }}</a>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    
    
    {% if hayPortada %}
        <div id="contenedorAnuncioRevistaIngenio" class="row">
            <p id="parrafoAnuncioRevistaIngenio" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a id="enlaceAnuncioRevistaIngenio" href="{{MEDIA_URL}}{{ultimaRevistaIngenio.fichero}}" target="_blank">
                    <img id="imagenAnuncioRevistaIngenio" src="{{MEDIA_URL}}{{ultimaRevistaIngenio.imagen}}">
                </a>
            </p>
            <p id="parrafoNumeroRevistaIngenio" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Revista número {{numeroRevista}}</p>
        </div>
    {% endif %}

    <div id="redesSociales" class="row">
        <p id="parrafoRedesSociales" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Síguenos en nuestras redes sociales</p>
        <p id="parrafoEnlacesRedesSociales" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <a id="enlaceFacebook" href="https://www.facebook.com/Asociaci%C3%B3n-Antiguos-Alumnos-ETSI-Sevilla-206382392878431" target="_blank">
                <img src="{% static 'images/icono_facebook.svg' %}" id="iconoFacebook">
            </a>
            <a id="enlaceTwitter" href="https://twitter.com/AAAETSI" target="_blank">
                <img src="{% static 'images/icono_twitter.svg' %}" id="iconoTwitter">
            </a>
            <a id="enlaceInstagram" href="https://www.instagram.com/aaa.etsi/" target="_blank">
                <img src="{% static 'images/icono_instagram.svg' %}" id="iconoInstagram">
            </a>
        </p>
    </div>



</div>

{% endblock %}
