{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}


{% block content %}

    <h1>Esta es la página de inicio.</h1>
    <div id="enlacesAuxiliares">
        <a href="{% url 'formularioAltaUsuario' %}">Formulario alta usuario</a>
        <br>
        <a href="{% url 'formularioAltaActividad' %}">Formulario alta actividad</a>
        <br>
        <a href="{% url 'formularioAltaNoticia' %}">Formulario alta noticia</a>
        <br>
        <a href="{% url 'formularioAltaOfertaEmpleo' %}">Formulario alta oferta de empleo</a>
        <br>
        <a href="{% url 'formularioAltaDatosDeContacto' %}">Formulario alta datos de contacto</a>
        <br>
        <a href="{% url 'formularioAltaRevistaIngenio' %}">Formulario alta revista ingenio</a>
    </div>

{% endblock %}
