{% extends "base.html" %}
{% load static %}


{% block title %}
    Junta Rectora
{% endblock %}


{% block content %}

<div id="cuerpo">

    <div id="miembrosJuntaRectora">
        <div class="row">
            <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
            <p id="parrafoMiembro" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"><strong>Presidente: </strong>D. Francisco Campos García</p>
            <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
        </div>
        <div class="row">
            <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
            <p id="parrafoMiembro" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"><strong>Vicepresidente: </strong>D. Rafael Estepa Alonso</p>
            <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
        </div>
        <div class="row">
            <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
            <p id="parrafoMiembro" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"><strong>Secretario: </strong>D. Guillermo Retamar Gentil</p>
            <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
        </div>
        <div class="row">
            <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
            <p id="parrafoMiembro" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"><strong>Tesorero: </strong>D. Alejandro Escudero Santana</p>
            <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
        </div>
        <div class="row">
            <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
            <p id="parrafoMiembro" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"><strong>Vocales: </strong></p>
            <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
        </div>

        <ul>

            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. José Luis Martínez Ramos</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. Miguel de la Torre Lucena</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. José Mariano González Romano</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. Miguel Ángel Iglesias López</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. Manuel López Casero</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. José María Díaz-Pintado</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. Manuel Moreno Retortillo</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. Francisco Muñoz López</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. Rafael Pérez Rubio</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
            <div class="row">
                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></p>
                <li id="vocalJuntaRectora" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">D. Jorge Ángel Santamaría Mifsut</li>
                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></p>
            </div>
        </ul>
    </div>

    <div class="row">
        <img id="imagenJuntaRectora" src="{% static 'images/junta_rectora.png' %}" alt="Imagen de los miembros de la Junta Rectora" title="Imagen de los miembros de la Junta Rectora"/>
    </div>

</div>

{% endblock %}
