{% extends "base.html" %}
{% load static %}


{% block title %}
    Junta Rectora
{% endblock %}


{% block content %}

<div id="cuerpo">

    <div id="tituloPaginaJuntaRectora" class="row">
        <h5 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Junta Rectora</h5>
    </div>

    <div id="miembrosJuntaRectora">
        
        <div class="row">
            <p id="parrafoMiembro" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <strong>Presidente: </strong>{{presidente}}
            </p>
            
        </div>

        <div class="row">
            <p id="parrafoMiembro" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <strong>Vicepresidente: </strong>{{vicepresidente}}
            </p>
        </div>

        <div class="row">
            <p id="parrafoMiembro" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <strong>Secretario: </strong>{{secretario}}
            </p>
        </div>

        <div class="row">
            <p id="parrafoMiembro" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <strong>Tesorero: </strong>{{tesorero}}
            </p>
        </div>

        <div class="row">
            <p id="parrafoMiembro" class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7"><strong>Vocales: </strong></p>
        </div>

        <ul>
            {% for vocal in vocales %}
                <div class="row">
                    <li id="vocalJuntaRectora" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{vocal}}</li>
                </div>
            {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}
