{% extends "base.html" %}
{% load static %}


{% block title %}
    Inicio de sesión
{% endblock %}


{% block content %}

<div id="cuerpo">

    <div id="tituloIniciarSesion" class="row">
        <h5 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Iniciar sesión</h5>
    </div>

    {% if inicioSesion %}
        <div class="row">
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                Ya ha iniciado sesión.
            </p>
        </div>
    {% else %}
        <form id="formularioLogin" method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}

            {% if error %}
                <p id="erroresLogin">{{ error }}</p>
            {% endif %}

            <div id="campoUsuarioLogin" class="row">
                <label for="formularioLogin" id="etiquetaUsuarioLogin"  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Usuario:</label>
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><input type="text" id="usuario" name="usuario"></p>
            </div>
            <div id="campoContraseñaLogin" class="row">
                <label for="formularioLogin" id="etiquetaContraseñaLogin"  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Contraseña:</label>
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><input type="password" id="contraseña" name="contraseña"></p>
            </div>
            
            
            <div class="row">
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button id="botonEnviarFormulario" type="submit">Enviar</button>
                </p>
            </div>

        </form>

        <div class="row" id="recuperarContraseña">
            <a id="enlaceRecuperarContraseña" href="{% url 'recuperarContraseña' %}">
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    ¿Has olvidado la contraseña? Pincha aquí para recuperarla.
                </p>
            </a>
        </div>
    {% endif %}

</div>

{% endblock %}