{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}


{% block content %}

<div id="cuerpo">

    <form id="formularioLogin" method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <label for="formularioLogin">Usuario:</label>
        <input type="text" id="usuario" name="usuario"><br>
        <label for="formularioLogin">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña"><br>
        <br>
        <button type="submit">Enviar</button>
    </form>

</div>

{% endblock %}