{% extends "base.html" %}
{% load static %}


{% block title %}
    Noticias
{% endblock %}


{% block content %}

<div id="cuerpo">

	<div id="tituloPaginaNoticias" class="row">
	    <h5 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Últimas noticias</h5>
	</div>

	{% for noticia in noticias_paginadas %}
        <div id="cadaNoticiaEnNoticias" class="row">
            <a id="enlaceNoticias" href="{% url 'noticia' titulo=noticia.titulo %}" >
                <p id="mostrandoTituloNoticia" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ noticia.titulo }}</p>
            </a>
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ noticia.texto|slice:"0:75" }}...</p>
			<p id="parrafoFechaNoticia" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                Fecha de la noticia: {{ noticia.fecha }}
            </p>
        </div>
    {% endfor %}
	<div id="paginacion" class="row">
        <p id="enlacesPaginacion" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% if tipoInicio %}
                {% for pagina in rango_inicio %}
                    {% if paginaActual == None and pagina == 1 %}
                        <a id="enlacePaginaActualPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% elif paginaActual == pagina %}
                        <a id="enlacePaginaActualPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% else %}
                        <a id="enlacePaginaPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% endif %}
                {% endfor %}
                    ...<a id="enlacePaginaPaginacionNoticias" href="?page={{ noticias_paginadas.paginator.num_pages }}">
                        {{ noticias_paginadas.paginator.num_pages }}
                    </a>
            {% elif tipoMedio %}
                <a id="enlacePaginaPaginacionNoticias" href="?page=1">1</a>...
                {% for pagina in rango_medio %}
                    {% if paginaActual == pagina %}
                        <a id="enlacePaginaActualPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% else %}
                        <a id="enlacePaginaPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% endif %}
                {% endfor %}
                ...<a id="enlacePaginaPaginacionNoticias" href="?page={{ noticias_paginadas.paginator.num_pages }}">
                    {{ noticias_paginadas.paginator.num_pages }}
                </a>
            {% elif tipoFin %}
                <a id="enlacePaginaPaginacionNoticias" href="?page=1">1</a>...
                <a id="enlacePaginaPaginacionNoticias" href="?page={{pagina_media}}">{{pagina_media}}</a>...
                {% for pagina in rango_fin %}
                    {% if paginaActual == pagina %}
                        <a id="enlacePaginaActualPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% else %}
                        <a id="enlacePaginaPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for pagina in paginas %}
                    {% if paginaActual == None and pagina == 1 %}
                        <a id="enlacePaginaActualPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% elif paginaActual == pagina %}
                        <a id="enlacePaginaActualPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% else %}
                        <a id="enlacePaginaPaginacionNoticias" href="?page={{ pagina }}">{{ pagina }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </div>

</div>

{% endblock %}