{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ ofertaEmpleo.titulo }}
{% endblock %}


{% block content %}  

<div id="cuerpo">


    <div id="tituloOfertaEmpleo" class="row">
        <h4 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ ofertaEmpleo.titulo }}</h4>
    </div>


    {% if ofertaEmpleo.fecha %}
        <div id="cadaElementoOfertaEmpleo" class="row">
            <p id="parrafoFechaOfertaEmpleo" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Fecha de la oferta: {{ ofertaEmpleo.fecha }}</p>
        </div>
    {% endif %}


    <div id="cadaElementoOfertaEmpleo">
        {% for linea in lineas %}
            <div class="row">
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ linea }}</p>
            </div>
        {% endfor %}
    </div>

    
    {% if ofertaEmpleo.contacto %}
        <div id="cadaElementoOfertaEmpleo" class="row">
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Envía en C. V. a: {{ ofertaEmpleo.contacto }}</p>
        </div>
    {% endif %}


    {% if ofertaEmpleo.fichero %}
        <div id="cadaElementoOfertaEmpleo" class="row">
            <p id="parrafoAdjuntosOfertaEmpleo" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Adjuntos: </p>
            <a href="{{MEDIA_URL}}{{ofertaEmpleo.fichero}}" type="application/pdf" target="_blank" id="enlaceAColor">
                <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Fichero adjunto</p>
            </a>
        </div>
    {% endif %}

    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="compartirRedesSociales">
        <p>Compartir en redes sociales:</p>
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_whatsapp"></a>
        <a class="a2a_button_telegram"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>


</div>

{% endblock %} 