{% extends "base.html" %}


{% block title %}
    {{ actividad.titulo }}
{% endblock %}


{% block content %}


	<div id="datosPerfilUsuario">

		{% if inicioSesion %}
			
			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Nombre:</strong> {{nombreUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Apellidos:</strong> {{apellidosUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Dni:</strong> {{dniUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Fecha de nacimiento:</strong> {{fechaNacimientoUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Cuenta bancaria:</strong> {{cuentaBancariaUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Email:</strong> {{emailUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Teléfono:</strong> {{telefonoUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Dirección postal:</strong> {{direccionPostalUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Usuario:</strong> {{usuarioUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Tipo de usuario:</strong> {{tipoUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Titulación:</strong> {{titulacionUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Promoción:</strong> {{promocionUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Año de finalización:</strong> {{añoFinalizacionUsuario}}</p>
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Empresa:</strong> {{empresaUsuario}}</p>
			</div>

			<div class="row">
				{% if comunicacionesUsuario %}
					<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
					<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Comunicaciones:</strong> Si</p>
				{% else %}
					<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
					<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Comunicaciones:</strong> No</p>
				{% endif %}
			</div>

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><strong>Junta rectora:</strong> {{juntaRectoraUsuario}}</p>
			</div>
			
		{% else %}

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					Para ver el perfil necesita iniciar sesión. Pinche <a href="{% url 'login' %}">aquí</a> para iniciar sesión
				</p>
			</div>

		{% endif %}

	</div>

{% endblock %}