{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ actividad.titulo }}
{% endblock %}


{% block content %}


<div id="cuerpo">

	<div id="datosPerfilUsuario">
		
		<div id="tituloPaginaPerfil" class="row">
			<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
			<h3 class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">Perfil</h3>
		</div>

		{% if inicioSesion %}
			
			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Nombre:</strong> {{nombreUsuario}}
					<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Apellidos:</strong> {{apellidosUsuario}}
					<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Dni:</strong> {{dniUsuario}}
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Fecha de nacimiento:</strong> {{fechaNacimientoUsuario}}
					<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Cuenta bancaria:</strong> {{cuentaBancariaUsuario}}
					<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Email:</strong> {{emailUsuario}}
					<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Teléfono:</strong> {{telefonoUsuario}}
					<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Dirección postal:</strong> {{direccionPostalUsuario}}
					<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Usuario:</strong> {{usuarioUsuario}}
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Tipo de usuario:</strong> {{tipoUsuario}}
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Titulación:</strong> {{titulacionUsuario}}
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Promoción:</strong> {{promocionUsuario}}
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Año de finalización:</strong> {{añoFinalizacionUsuario}}
				</p>
			</div>

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Empresa:</strong> {{empresaUsuario}}
					<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
				</p>
			</div>

			
			{% if comunicacionesUsuario %}
				<div id="contenedorElementoPerfil" class="row">
					<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
					<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
						<strong>Comunicaciones:</strong> Si
						<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
					</p>
				</div>
			{% else %}
				<div id="contenedorElementoPerfil" class="row">
					<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
					<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
						<strong>Comunicaciones:</strong> No
						<img src="{% static 'images/icono_editar.svg' %}" id="iconoEditar"/>
					</p>
				</div>
			{% endif %}

			<div id="contenedorElementoPerfil" class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<strong>Junta rectora:</strong> {{juntaRectoraUsuario}}
				</p>
			</div>
			
		{% else %}

			<div class="row">
				<p class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></p>
				<p class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					Para ver el perfil necesita iniciar sesión. Pinche <a href="{% url 'login' %}">aquí</a> para iniciar sesión
				</p>
			</div>

		{% endif %}

	</div>

</div>

{% endblock %}