{% extends "base.html" %}
{% load static %}

{% block title %}
    Revista Ingenio
{% endblock %}


{% block content %}  

<div id="cuerpo">

    <div id="tituloPaginaRevistaIngenio" class="row">
        <h5 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Revista Ingenio</h5>
    </div>

    <div id="parrafoPaginaRevistaIngenio" class="row">
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            Ingenio es una publicación periódica editada por la Asociación. En ella tienen cabida tanto las actividades 
            desarrolladas por la Asociación como cualquier tema que resulte de interés para los asociados. Si deseas 
            colaborar en Ingenio, escríbenos a la dirección de correo 
            <a href="mailto:aa@esi.us.es" id="enlaceEnviarCorreo">aa@esi.us.es</a>. Tu aportación será bienvenida.
        </p>
    </div>
    <div id="tablaPaginaRevistaIngenio">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Revista</th>
                </tr>
            </thead>
            <tbody>
                {% for revista in revistas %}
                    {% if revista.numero == mayorNumero %}
                        <tr>
                            <td id="mayorNumero">{{revista.numero}}</td>
                            <td id="mayorNumero">{{revista.fecha}}</td>
                            <td>
                                <img id="logoPdfTablaRI" src="{% static 'images/icono_pdf.ico' %}">
                                <a href="{{MEDIA_URL}}{{revista.fichero}}" type="application/pdf" target="_blank" id="enlaceAColor">
                                    Revista Ingenio {{revista.numero}}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{revista.numero}}</td>
                            <td>{{revista.fecha}}</td>
                            <td>
                                <img id="logoPdfTablaRI" src="{% static 'images/icono_pdf.ico' %}">
                                <a href="{{MEDIA_URL}}{{revista.fichero}}" type="application/pdf" target="_blank" id="enlaceAColor">
                                    Revista Ingenio {{revista.numero}}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}