{% extends "base.html" %}
{% load static %}

{% block title %}
    Revista Ingenio
{% endblock %}


{% block content %}  

<div id="cuerpo">

    <h2>Esta es la página de la Revista Ingenio de la asociación.</h2>

    <p>Ingenio es una publicación periódica editada por la Asociación. En ella tienen cabida tanto las actividades desarrolladas por la Asociación como cualquier tema que resulte de interés para los asociados. Si deseas colaborar en Ingenio, escríbenos a la dirección de correo aa@esi.us.es. Tu aportación será bienvenida.</p>

    <table id="tablaRevistaIngenio">
        <tr>
            <th class="cabeceraTablaRI">Número</th>
            <th class="cabeceraTablaRI">Fecha</th>
            <th class="cabeceraTablaRI">Revista</th>
        </tr>
        {% for revista in revistas %}
            <tr>
                <td class="elementoTablaRI">{{revista.numero}}</td>
                <td class="elementoTablaRI">{{revista.fecha}}</td>
                <td class="elementoTablaRI">
                    <img id="logoPdfTablaRI" src="{% static 'images/pdf_ico.ico' %}">
                    <a href="{{MEDIA_URL}}{{revista.fichero}}" type="application/pdf" target="_blank">Revista Ingenio {{revista.numero}}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
