{% load static %}

<!DOCTYPE html>

<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'images/antalumnos_icono.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/antiguos_alumnos.css' %}" />
    <title>
        {% block title%}
        {% endblock %}
    </title>
</head>

<body>

    <div id="cabecera">
        <img id="logoCabecera" src="{% static 'images/antalumnos_icono.ico' %}">
        {#  <strong><p id="parrafoNombre">Asociación de antiguos alumnos de la Escuela Superior de Ingenieros de Sevilla</p></strong> #}
        <h3 id="parrafoNombre">Asociación de antiguos alumnos de la Escuela Superior de Ingenieros de Sevilla</h3>
        <ul id="menu">
            <a id="enlaceInicioCabecera" href="{% url 'inicio' %}"><li>Inicio</li></a>
            <a id="enlaceAsociacionCabecera" href="{% url 'asociacion' %}"><li>La Asociación</li></a>
            <a id="enlaceActividadesCabecera" href="{% url 'actividades' %}"><li>Actividades</li></a>
            <a id="enlaceNoticiasCabecera" href="{% url 'noticias' %}"><li>Noticias</li></a>
            <a id="enlaceEmpleoCabecera" href="{% url 'empleo' %}"><li>Empleo</li></a>
            <a id="enlaceRevistaCabecera" href="{% url 'revistaIngenio' %}"><li>Revista Ingenio</li></a>
            <a id="enlaceMultimediaCabecera" href="{% url 'multimedia' %}"><li>Multimedia</li></a>
        </ul>
    </div>

    {% block content %}
    {% endblock %}

    <div id="pie">
        <p>Escuela Superior de Ingenieros de Sevilla.</p>
        <a id="enlaceDireccion" href="https://www.google.es/maps/place/Escuela+Superior+de+Ingenieros,+41092+Sevilla/@37.4113198,-6.0026757,17z/data=!3m1!4b1!4m5!3m4!1s0xd126bf26cfb6745:0x48540ef865fb244e!8m2!3d37.4113198!4d-6.000487" target="_blank"><p>Camino de los descubrimientos s/n. Isla De La Cartuja. 41092 Sevilla</p></a>
        <p>Teléfono 954 486 121</p>
        <p>E-mail: aaa-etsi@us.es</p>
    </div>

</body>

</html>