{% extends "base.html" %}


{% block title %}
    Web Asociación Antiguos Alumnos de la ETSI
{% endblock %}

{% block content %}  

    <h1>Alta de oferta de empleo:</h1>

    <form id="formularioAltaOfertaEmpleo" method="POST">

        <label for="toxto">Texto: </label>
        <input type="text">

        <br>

        <label for="contacto">Contacto: </label>
        <input type="text">

        <br>

        <label for="perfil">Perfil: </label>
        <input type="text">


    </form>

{% endblock %}