body{
    margin: 0px;
}

#cuerpo{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#cabecera{
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    align-items: center;
}

#logoCabecera{
    vertical-align: bottom;
    display: inline;
}

#parrafoNombre{
    vertical-align: bottom;
    color: #B80C1C;
    font-size: 1.2em;
    display: inline;
}

#logoYParrafoCabecera{
    margin-bottom: 1em;
}


.buscarBarraNavegación{
    background-color: #303B89;
    color: white;
    height: 2.5em;
    width: 4.5em;
    border: none;
    border-radius: 10%;
}


#enlaceActividades, #enlaceNoticias, #enlaceOfertasEmpleo, #enlaceAcuerdos{
    text-decoration: none;
}

#enlaceAColor{
    text-decoration: none;
    font-weight: bold;
    color: #303B89;
}

#mostrandoTituloActividad, #mostrandoTituloNoticia, #mostrandoTituloOfertaEmpleo, #mostrandoNombreAcuerdoEmpresa{
    font-weight: bold;
    color: #B80C1C;
}

#tablaRevistaIngenio{
    width: 40%;
}

.cabeceraTablaRI{
    padding: 5px;
}

.elementoTablaRI{
    border-bottom: 1px solid black;
    padding: 5px;
}

#logoPdfTablaRI{
    width: 20px;
    height: 20px;
    vertical-align: center;
}

#miembrosJuntaRectora{
    margin-top: 20px;
    margin-left: 40%;
}

#imagenJuntaRectora{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 5px;
}

#direccionPostal{
    clear: right;
}

#pie{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
}