/* Que el body no tenga márgenes */
body{
    margin: 0px;
}


/* Márgenes para el contenido de cada página */
#cuerpo{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}


/* Cabecera con el parrafo y el logo */
#cabecera{
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    align-items: center;
}


/* El logo al lado del párrafo de la cabecera */
#logoCabecera{
    vertical-align: bottom;
    display: inline;
}


/* El parrafo de la cabecera con el nombre de la página */
#parrafoNombre{
    vertical-align: bottom;
    color: #B80C1C;
    font-size: 1.2em;
    display: inline;
}


/* Logo y parrafo de la cabecera */
#logoYParrafoCabecera{
    margin-bottom: 1em;
}


/* Botón de buscar de la barra de navegación*/
.buscarBarraNavegación{
    background-color: #303B89;
    color: white;
    height: 2.5em;
    width: 4.5em;
    border: none;
    border-radius: 10%;
}


/* Los enlaces de la barra de navegación */
#enlaceBarraNavegacion{
    font-weight: bold;
}


/* Carrusel de noticias */
#myCarousel{
    margin-top: 2em;
    margin-bottom: 2em;
}


/* Que no aparezcan subrayados los enlaces */
#enlaceActividades, #enlaceNoticias, #enlaceOfertasEmpleo, #enlaceAcuerdos{
    text-decoration: none;
}


/* Estilo para enlaces */
#enlaceAColor{
    text-decoration: none;
    font-weight: bold;
    color: #303B89;
}


/**/
#mostrandoTituloNoticia, #mostrandoTituloOfertaEmpleo{
    font-weight: bold;
    color: #980c17;
}


/**/
#mostrandoNombreAcuerdoEmpresa{
    font-weight: bold;
    color: #303B89;
}


/**/
#tablaRevistaIngenio{
    width: 40%;
}


/**/
.cabeceraTablaRI{
    padding: 5px;
}


/**/
.elementoTablaRI{
    border-bottom: 1px solid black;
    padding: 5px;
}


/**/
#logoPdfTablaRI{
    width: 20px;
    height: 20px;
    vertical-align: center;
}


/**/
#miembrosJuntaRectora{
    margin-top: 20px;
    margin-left: 40%;
}


/**/
#imagenJuntaRectora{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 5px;
}


/**/
#direccionPostal{
    clear: right;
}


/* Visualización de las páginas "actividades" y "actividad" */
#cadaActividadEnActividades, #tituloPaginaActividades, #elementoDeActividad{
    margin-bottom: 1.5em;
}

#mostrandoTituloActividad{
    font-weight: bold;
    color: #EE7C1B;
}


/*
#elementoDeActividad{
    margin-bottom: 1.5em;
}
*/


/* Márgenes de elementos de las páginas "acuerdosEmpresas" y "acuerdoEmpresa" */
#tituloPaginaAcuerdosEmpresas, #parrafoPaginaAcuerdosEmpresas, #parrafoFinal2PaginaAcuerdosEmpresas{
    margin-bottom: 1.5em;
}

#cadaAcuerdoConEmpresaEnAcuerdosEmpresas{
    margin-bottom: 0.5em;
}

#parrafoFinal1PaginaAcuerdosEmpresas{
    margin-top: 1.5em;
}

#tituloAcuerdoEmpresa{
    margin-bottom: 1.5em;
}

#adjuntosAcuerdoEmpresa{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


/* Márgenes de elementos de las páginas "empleo" y "ofertaEmpleo" */
#tituloPaginaEmpleo, #tituloOfertaEmpleo{
    margin-bottom: 1.5em;
}

#cadaElementoOfertaEmpleo{
    margin-bottom: 0.5em;
}

#cadaOfertaEmpleo{
    margin-bottom: 0.5em;
}


/* Parrafo de los errores en los formularios en rojo */
#parrafoErroresFormulario{
    color: red;
}


/* Formato del botón para enviar formularios */
#botonEnviarFormulario{
    background-color: #303B89;
    color: white;
    border: none;
    border-radius: 0.4em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.2em;
}


/* Visualización de la página "formularioAltaActividad" */
#campoDelFormularioActividad, #tituloPaginaFormularioAltaActividad{
    margin-bottom: 1em;
}

#etiquetaFormularioActividad{
    font-weight: bold;
}


/* Pie de página */
footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}