body{
    margin: 0px;
}

#cabecera{
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: #F3D9B1;
    text-align: center;
    align-items: center;
}


#logoCabecera{
    vertical-align: bottom;
    display: inline;
}


#parrafoNombre{
    vertical-align: bottom;
    color: #B80C1C;
    font-size: 1.2em;
    display: inline;
    margin: 0;
}


#menu{
    list-style: none;
    margin-top: 25px;
    margin-bottom: 6px;
}


#menu li{
    border-style: solid;
    border-radius: 0.5em;
    border-color: #303B89;
    background-color: #303B89;
    color: white;
    padding: 5px;
    display: inline;
    margin-left: 15px;
    font-weight: bold;
}

#enlaceInicioCabecera, #enlaceAsociacionCabecera, #enlaceActividadesCabecera, #enlaceNoticiasCabecera, #enlaceEmpleoCabecera, 
#enlaceRevistaCabecera, #enlaceMultimediaCabecera, #enlaceDireccion{
    text-decoration: none;
}


#miembrosJuntaRectora{
    margin-top: 20px;
    margin-left: 40%;
}

#imagenJuntaRectora{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 5px;
}


#pie{
    background-color: #F3D9B1;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}